name: Defectdojo - endorlabs

on:
  push:
    branches:
      - "**"

  schedule:
    - cron: '6 22 * * *'

      
jobs:
  endorlabs:
    runs-on: ubuntu-latest

    steps:
      
      - name: checkout code
        uses: actions/checkout@v6
      
      - name: setup python
        uses: actions/setup-python@v6 
        with:
          python-version: '3.10' 

      - name: convert endorlabs json into dd json
        run: |
          python3 endor_to_dd.py dd.json defectdojo.json

      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: dd
          path: defectdojo.json

